.sidebar {
  width: 220px;
  background: #1a1a1a;
  padding: 10px;
  transition: all 0.3s ease;
  overflow: auto;
}

.sidebar.collapsed {
  width: 60px;
}

.hidden {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.sidebar.collapsed .label {
  display: none;
}

.sidebar.collapsed .icon {
  margin-right: 0;
  font-size: 24px;
}

.link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
}

.link:hover {
  background: #555; /* Added hover background color */
}

.sidebar.collapsed .link {
  justify-content: center;
  padding: 10px 0;
}

.sidebar.collapsed .link:hover {
  background: #555; /* Hover background for collapsed state */
}

.icon {
  font-size: 30px;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.tooltip {
  display: none;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 100;
  margin-left: 10px;
}

.sidebar.collapsed .link:hover .tooltip {
  /* background: #444; */
  display: block;
}

.active {
  background: #444;
  font-weight: bold;
  border-left: 4px solid rgba(8, 170, 38, 0.861);
}

.sidebar.collapsed .active {
  border-left: none;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 0;
    padding: 0;
    position: fixed;
    top: 50px;
    height: calc(100vh - 50px);
    z-index: 9989999999;
  }

  .sidebar:not(.hidden) {
    width: 180px;
    padding: 8px;
  }
}